<% for(var i = 0, j = 0, k = -1; i < student_info.length; i++) { %>
    <% if(i + 1 < student_info.length && i > 0  && student_info[i].id == student_info[i - 1].id) {i++;}%>
    <%  if(k != j) { k++; %>
        <b>Team Name: <%= groups[j].group_name; %></b>
        <table>
            <tr>
                <th>Member</th>
                <th>Cooperation</th>
                <th>Conceptual</th>
                <th>Practical</th>
                <th>Work Ethic</th>
                <th>Average Across All</th>
            </tr>
    <% } %>
    <% if(groups[j].id_group != student_info[i].id_group) { j++; i--; %>
        </table>
    <% } else { %>
    <tr>
        <td><%= student_info[i].id %></td>
        <td><%- getCooperation(student_info, i) %></td>
        <td><%- getConceptual(student_info, i) %></td>
        <td><%- getPractical(student_info, i) %></td>
        <td><%- getWorkEthic(student_info, i) %></td>
        <td><%- getAverage(student_info, i)%></td>
    </tr>
    <% } %>
<% } %>