<%- include('partials/header', { title: 'View my Reviews' }) %>

<% if(reviews.length > 0) { %>
    <table>
        <tr>
            <th>
                Review Number
            </th>
            <th>
                Review Comments
            </th>
            <th>
                Grade
            </th>
            <th>
                Average
            </th>
        </tr>
    <% for(var i = 0; i < reviews.length; i++) { %>
        <tr>
            <td>
                <%= i + 1 %>
            </td>
            <td>
                <%= reviews[i].comments %>
            </td>
            <td>
                Cooperation: <%= reviews[i].cooperation %> <br/> 
                Conceptual Contribution: <%= reviews[i].conceptual_contribution %> <br/>
                Practical Contribution: <%= reviews[i].practical_contribution %> <br/>
                Work Ethic: <%= reviews[i].work_ethic %> <br/>
            </td>
            <td>
                <%var Average = (reviews[i].cooperation + reviews[i].conceptual_contribution + reviews[i].practical_contribution + reviews[i].work_ethic) / 4 %>
                <%= Average %>
            </td>
        </tr>
    <% } %>
    </table>
<% } else { %>
    <h>
        Could not find any reviews
    </h>
<% } %>
<%- include('partials/footer') %>