<%var isNewGroup = true; for(var i = 0, j = 0; i < student_info.length; i++) { %>
    <% if(isNewGroup) {isNewGroup = false; %>
        <b>Team Name: <%= groups[j].group_name; %></b>
        <table>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Number of Reviews Completed</th>
            </tr>
    <% } %>
    <% if(i > 0  && student_info[i].id == student_info[i - 1].id) {continue;}%>
    <% if(groups[j].id_group != student_info[i].id_group) { j++; i--; isNewGroup = true; %>
        </table>
    <%continue;}%>
    <tr>
        <td><%= student_info[i].id %></td>
        <td><%= student_info[i].name %></td>
        <td><%- getNumberOfReviews(student_info, i) %> / <%- getNumberOfTeammates(student_info, sorted_students, i) %></td>
    </tr>
<% } %>